<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.websarva.wings.android.kaigonote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaigonote">
        <activity android:name=".TonpukuActivity" />
        <activity android:name=".SyusinngoyakuActivity" />
        <activity android:name=".KisyouziyakuActivity" />
        <activity android:name=".KansyokuActivity" />
        <activity android:name=".YusyokugoyakuActivity" />
        <activity android:name=".TyusyokugoyakuActivity" />
        <activity android:name=".TyosyokugoyakuActivity" />
        <activity android:name=".ZikoActivity" />
        <activity android:name=".HiyariActivity" />
        <activity android:name=".MosiokuriActivity" />
        <activity android:name=".NyuyokukirokuActivity" />
        <activity android:name=".NitizyoukirokuActivity" />
        <activity android:name=".YorukoukuActivity" />
        <activity android:name=".HirukoukuActivity" />
        <activity android:name=".AsakoukuActivity" />
        <activity android:name=".YuusyokuActivity" />
        <activity android:name=".TyusyokuActivity" />
        <activity android:name=".TyousyokuActivity" />
        <activity android:name=".HaibennActivity" />
        <activity android:name=".KirokuitirannActivity" />
        <activity android:name=".HaiyakuActivity" />
        <activity android:name=".SyotiActivity" />
        <activity android:name=".AcsidentoActivity" />
        <activity android:name=".KirokuActivity" />
        <activity android:name=".NyuyokuActivity" />
        <activity android:name=".KoukuActivity" />
        <activity android:name=".SyokujiActivity" />
        <activity android:name=".HainyouActivity" />
        <activity android:name=".HaisetuActivity" />
        <activity android:name=".SyokuzennyakuasaActivity" />
        <activity android:name=".SyokuzennyakuhiruActivity" />
        <activity android:name=".SyokuzennyakuyoruActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>