<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.websarva.wings.android.kaigonote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaigonote">
        <activity android:name=".TonpukuActivity9_6" />
        <activity android:name=".SyusinngoyakuActivity9_5" />
        <activity android:name=".KisyouziyakuActivity9_4" />
        <activity android:name=".KansyokuActivity3_4" />
        <activity android:name=".YusyokugoyakuActivity9_3" />
        <activity android:name=".TyusyokugoyakuActivity9_2" />
        <activity android:name=".TyosyokugoyakuActivity9_1" />
        <activity android:name=".ZikoActivity7_2" />
        <activity android:name=".HiyariActivity7_1" />
        <activity android:name=".MosiokuriActivity6_3" />
        <activity android:name=".NyuyokukirokuActivity6_2" />
        <activity android:name=".NitizyoukirokuActivity6_1" />
        <activity android:name=".YorukoukuActivity4_3" />
        <activity android:name=".HirukoukuActivity4_2" />
        <activity android:name=".AsakoukuActivity4_1" />
        <activity android:name=".YuusyokuActivity3_3" />
        <activity android:name=".TyusyokuActivity3_2" />
        <activity android:name=".TyousyokuActivity3_1" />
        <activity android:name=".HaibennActivity2_2" />
        <activity android:name=".KirokuitirannActivity10" />
        <activity android:name=".HaiyakuActivity9" />
        <activity android:name=".SyotiActivity8" />
        <activity android:name=".AcsidentoActivity7" />
        <activity android:name=".KirokuActivity6" />
        <activity android:name=".NyuyokuActivity5" />
        <activity android:name=".KoukuActivity4" />
        <activity android:name=".SyokujiActivity3" />
        <activity android:name=".HainyouActivity" />
        <activity android:name=".HaisetuActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>